/* line 17, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 2, ../scss/_grid.scss */
._col {
  float: left;
  padding: 1%;
  position: relative; }

/* line 8, ../scss/_grid.scss */
.__100pc {
  margin: 0.5%;
  width: 97%;
  max-width: 1700px; }

/* line 14, ../scss/_grid.scss */
.__90pc {
  margin: 0.5%;
  width: 87%;
  max-width: 1500px; }

/* line 20, ../scss/_grid.scss */
.__80pc {
  margin: 0.5%;
  width: 77%;
  max-width: 1200px; }

/* line 26, ../scss/_grid.scss */
.__70pc {
  margin: 0.5%;
  width: 67%; }

/* line 31, ../scss/_grid.scss */
.__60pc {
  margin: 0.5%;
  width: 57%; }

/* line 36, ../scss/_grid.scss */
.__50pc {
  margin: 0.5%;
  width: 47%; }

/* line 41, ../scss/_grid.scss */
.__40pc {
  margin: 0.5%;
  width: 37%; }

/* line 46, ../scss/_grid.scss */
.__30pc {
  margin: 0.5%;
  width: 27%; }

/* line 51, ../scss/_grid.scss */
.__20pc {
  margin: 0.5%;
  width: 17%; }

/* line 7, ../scss/base.scss */
body {
  font-family: sans-serif; }

/* links */
/* line 10, ../scss/base.scss */
a, a:link, a:active, a:visited {
  color: #444;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

/* line 16, ../scss/base.scss */
a:hover {
  color: #294a9b; }

/* topo */
/* line 21, ../scss/base.scss */
.top-all {
  background-color: #fff;
  height: 150px;
  position: relative;
  width: 100%; }
  /* line 27, ../scss/base.scss */
  .top-all .top {
    display: table;
    margin-top: 0px !important;
    margin-left: auto;
    margin-right: auto;
    /* pesquisa */ }
    /* line 33, ../scss/base.scss */
    .top-all .top .search-all {
      text-align: right;
      top: 30px; }
      /* line 37, ../scss/base.scss */
      .top-all .top .search-all .search {
        border: 1px solid #ccc;
        height: 20px;
        outline: none;
        padding: 10px;
        right: 0;
        width: 70%;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
        border-radius: 50px; }
      /* line 48, ../scss/base.scss */
      .top-all .top .search-all button {
        background: url("");
        border: 0;
        height: 30px;
        position: absolute;
        right: 4%;
        top: 23%;
        width: 37px; }
        /* line 57, ../scss/base.scss */
        .top-all .top .search-all button img {
          height: 100%;
          width: 100%; }

/* menu */
/* line 71, ../scss/base.scss */
.menu-all {
  background-color: #294a9b;
  padding: 8px 0 8px 0;
  position: relative;
  width: 100%; }
  /* line 77, ../scss/base.scss */
  .menu-all .menu {
    color: #fff;
    font-size: 1.3em;
    margin-left: auto;
    margin-right: auto; }
    /* line 82, ../scss/base.scss */
    .menu-all .menu li {
      border-right: 1px solid #fff;
      display: inline-block;
      text-align: center;
      width: 16%; }
    /* line 89, ../scss/base.scss */
    .menu-all .menu li:last-child {
      border-right: 0px; }
  /* line 95, ../scss/base.scss */
  .menu-all a, .menu-all a:link, .menu-all a:active, .menu-all a:visited {
    color: #fff !important;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
  /* line 101, ../scss/base.scss */
  .menu-all a:hover {
    color: #faa635 !important; }

/* footer */
/* line 108, ../scss/base.scss */
.footer-all {
  border-top: 1px solid #294a9b;
  margin-top: 30px;
  width: 100%; }
  /* line 113, ../scss/base.scss */
  .footer-all .footer {
    display: table;
    margin-left: auto;
    margin-right: auto; }
    /* line 117, ../scss/base.scss */
    .footer-all .footer .apoio {
      text-align: right; }
      /* line 120, ../scss/base.scss */
      .footer-all .footer .apoio li {
        display: inline-block; }
  /* line 128, ../scss/base.scss */
  .footer-all .footer-tel {
    background-color: #294a9b;
    border-top: 5px solid #faa635;
    color: #fff;
    padding: 15px 0 15px 0;
    text-align: center;
    width: 100%; }

/* line 139, ../scss/base.scss */
.menu-mob {
  display: none; }

/* ==================================================================
	>1200px
================================================================== */
@media screen and (max-width: 1200px) {
  /* menu */
  /* line 146, ../scss/base.scss */
  .menu {
    font-size: 1.1em !important; } }
/* ==================================================================
	>1015px
================================================================== */
@media screen and (max-width: 1015px) {
  /* menu */
  /* line 156, ../scss/base.scss */
  .menu {
    font-size: .9em !important; } }
/* ==================================================================
	>850px
================================================================== */
@media screen and (max-width: 850px) {
  /* top */
  /* line 166, ../scss/base.scss */
  .top-all {
    height: 225px; }
    /* line 169, ../scss/base.scss */
    .top-all .__50pc {
      float: none;
      text-align: center;
      width: 100%; }
    /* line 175, ../scss/base.scss */
    .top-all .search-all {
      text-align: center !important; }
      /* line 178, ../scss/base.scss */
      .top-all .search-all .search {
        width: 95% !important; }

  /* menu */
  /* line 187, ../scss/base.scss */
  .menu {
    display: none; }

  /* line 191, ../scss/base.scss */
  .menu-mob {
    display: block;
    margin-left: auto;
    margin-right: auto; } }
